/*-------RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul{
  list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/*-------END RESET---------*/
html{
  height: 100%;
}

body {
  height: 100%;
  background: url(../img/main_bg.jpg);

  font-family: 'Open Sans',Arial, serif;
}

#pageWrapper{
  min-height: 70%;
  position: relative;
  overflow-x: hidden;

}

header{
  color: #fff;
  letter-spacing: 3px;
  position: relative;
}

header .myTitle{
  padding: 30px 50px 50px;
  margin-left: 10px;
  /*font-family:  'Space Mono', monospace;*/
}
        .myTitle .name {
          width: 20em;
          white-space:nowrap;
          overflow:hidden;
          color: #fff;
          font-weight: bold;
          font-size: 50px;
          -webkit-animation: type 5s steps(50, end);
          animation: type 5s steps(50, end);
        }
        .myTitle .prof{
          opacity: 0;
          margin-left: 5px;
          font-size: 18px;
        }


header .myContacts{
  position: absolute;
  right: 0;
  bottom: 70px;
  text-align: center;
}

        .myContacts p{
          padding: 8px 20px 0;
          font-size: 25px;
          opacity: 0;
        }

#fadeInText{
  color: #fff;
  font-size: 40px;
  position: absolute;
  left: 45%;
  top: 20%;
}

    .fadeInText{
    opacity: 0;
    letter-spacing: 4px;
    -webkit-animation: fadeIn 2s  infinite;
    animation: fadeIn 2s  infinite;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    }

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes fadeIn{
    20% { opacity: 0.2;}
    40% { opacity: 0.5;}
    60% { opacity: 1;}
    80% { opacity: 0.5;}
    100% { opacity:0.2;}
}

@-webkit-keyframes fadeIn{
  20% { opacity: 0.2;}
  40% { opacity: 0.5;}
  60% { opacity: 1;}
  80% { opacity: 0.5;}
  100% { opacity:0.2;}
}


/***************************MENU**********************/
nav{
  position: fixed;
  left: -300px;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;

}

    nav .sidebar{
      padding: 5px;
    }

        nav .sidebar li {
          margin-bottom: 10px;
          font-size: 25px;
          border: solid 1px transparent;
          border-radius: 0 50px 50px 0;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;

        }

        .beforeClickMenu{
          width: 170px;
          padding: 15px;

        }

        .clickMenu{
          width: 230px;
          padding: 20px;
          box-shadow: 0 0 20px #000 inset;
        }

         .sidebar li a{
          color:#fff;
          outline: none;
          text-shadow: 1px 1px 2px black;
        }

             .sidebar li:hover{
              width: 230px;
            }


            #about{
              background: radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0052cc);
              background: -webkit-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0052cc);
              background: -o-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0052cc);
              background: -moz-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0052cc);
            }

            #resume{
              background: #0066ff;
              background: radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0066ff);
              background: -webkit-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0066ff);
              background: -o-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0066ff);
              background: -moz-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #0066ff);
            }

            #projects{
              background: #3385ff;
              background: radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #3385ff);
              background: -webkit-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #3385ff);
              background: -o-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #3385ff);
              background: -moz-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #3385ff);
            }

            #contacts{
              background: #66a3ff;
              background: radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #66a3ff);
              background: -webkit-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #66a3ff);
              background: -o-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #66a3ff);
              background: -moz-radial-gradient( farthest-side at 0px 0px,  #b3d1ff, #66a3ff);
            }

            .showNav{
              left:0;
            }
/***************************END MENU**********************/


#contentWrapper{
  width:700px;
  padding-left: 40px;
  position: absolute;
  right: -800px;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

    #contentWrapper h1{
      font-style: italic;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }

/***************************RESUME**********************/
.cv td{
  font-size: 20px;
  line-height: 1.5;
  padding: 10px;
}

.cv tr.trBorderBot{
  border-bottom: solid 1px #00cc44;
}

.cv td.tdTitle{
      width: 190px;
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
}

.cv td.tdDate{
  width: 160px;
}

.percents{
  width: 100%;
  text-align: right;
  font-size: 13px;
  color: #fff;
}

.skills{
  width: 100%;
  height:4px;
  border: #fff solid 1px;
  border-radius: 5px;
}

    .skills.html{
      background: linear-gradient(to right, #f30 80%, transparent 80%);
      background: -webkit-linear-gradient(to right, #f30 80%, transparent 80%);
      background: -moz-linear-gradient(to right, #f30 80%, transparent 80%);
      background: -o-linear-gradient(to right, #f30 80%, transparent 80%);
    }

    .skills.css{
      background: linear-gradient(to right, #f30 80%, transparent 80%);
      background: -webkit-linear-gradient(to right, #f30 80%, transparent 80%);
      background: -moz-linear-gradient(to right, #f30 80%, transparent 80%);
      background: -o-linear-gradient(to right, #f30 80%, transparent 80%);
    }

    .skills.bootstrap{
      background: linear-gradient(to right, #f30 50%, transparent 50%);
      background: -webkit-linear-gradient(to right, #f30 50%, transparent 50%);
      background: -moz-linear-gradient(to right, #f30 50%, transparent 50%);
      background: -o-linear-gradient(to right, #f30 50%, transparent 50%);
    }

    .skills.ps{
      background: linear-gradient(to right, #f30 70%, transparent 70%);
      background: -webkit-linear-gradient(to right, #f30 70%, transparent 70%);
      background: -moz-linear-gradient(to right, #f30 70%, transparent 70%);
      background: -o-linear-gradient(to right, #f30 70%, transparent 70%);
    }

    .skills.js{
      background: linear-gradient(to right, #f30 60%, transparent 60%);
      background: -webkit-linear-gradient(to right, #f30 60%, transparent 60%);
      background: -moz-linear-gradient(to right, #f30 60%, transparent 60%);
      background: -o-linear-gradient(to right, #f30 60%, transparent 60%);
    }

    .skills.ng{
      background: linear-gradient(to right, #f30 20%, transparent 20%);
      background: -webkit-linear-gradient(to right, #f30 20%, transparent 20%);
      background: -moz-linear-gradient(to right, #f30 20%, transparent 20%);
      background: -o-linear-gradient(to right, #f30 20%, transparent 20%);
    }

    .skills.jq{
      background: linear-gradient(to right, #f30 20%, transparent 20%);
      background: -webkit-linear-gradient(to right, #f30 20%, transparent 20%);
      background: -moz-linear-gradient(to right, #f30 20%, transparent 20%);
      background: -o-linear-gradient(to right, #f30 20%, transparent 20%);
    }

    .skills.git{
      background: linear-gradient(to right, #f30 30%, transparent 30%);
      background: -webkit-linear-gradient(to right, #f30 30%, transparent 30%);
      background: -moz-linear-gradient(to right, #f30 30%, transparent 30%);
      background: -o-linear-gradient(to right, #f30 30%, transparent 30%);
    }

    .skills.npm{
      background: linear-gradient(to right, #f30 20%, transparent 20%);
      background: -webkit-linear-gradient(to right, #f30 20%, transparent 20%);
      background: -moz-linear-gradient(to right, #f30 20%, transparent 20%);
      background: -o-linear-gradient(to right, #f30 20%, transparent 20%);
    }

    .skills.linux{
      background: linear-gradient(to right, #f30 50%, transparent 50%);
      background: -webkit-linear-gradient(to right, #f30 50%, transparent 50%);
      background: -moz-linear-gradient(to right, #f30 50%, transparent 50%);
      background: -o-linear-gradient(to right, #f30 50%, transparent 50%);
    }

    .skills.bitrix{
      background: linear-gradient(to right, #f30 10%, transparent 10%);
      background: -webkit-linear-gradient(to right, #f30 10%, transparent 10%);
      background: -moz-linear-gradient(to right, #f30 10%, transparent 10%);
      background: -o-linear-gradient(to right, #f30 10%, transparent 10%);
    }

    .skills.webpack{
      background: linear-gradient(to right, #f30 10%, transparent 10%);
      background: -webkit-linear-gradient(to right, #f30 10%, transparent 10%);
      background: -moz-linear-gradient(to right, #f30 10%, transparent 10%);
      background: -o-linear-gradient(to right, #f30 10%, transparent 10%);
    }

p.downloadCVWrapper{
  text-align: right;
}

a.downloadCV {
  display: inline-block;
  margin: 20px 0 0 20px;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}

a.downloadCV:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
a.downloadCV:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

/*************************************END RESUME*******************************/


/***************************PROJECTS**********************/
.project{
  width: 100%;
  padding: 10px;
  border-bottom: #FFFF00 dashed 1px;
  margin-top: 20px;

}

    .project .projectImage{
      width: 200px;
      height: 150px;
      border: 15px solid rgba(204, 204, 204, 0.3);
      border-radius: 10px;
      float: left;
      margin-right: 20px;

    }

    .project .projectImage:hover{
      cursor: pointer;
    }

    .project .projectName{
      font-size: 25px;
      font-style: italic;
      margin-bottom: 10px;
    }

    .project .projectDescription{
      font-size: 18px;
    }

    .project .clear{
      clear: both;
    }

    .project .linkWrapper{
      width: 100%;
      text-align: right;
    }

    a.bitbucket {
      display: inline-block;
      margin: 20px 0 0 20px;
      color: white;
      text-decoration: none;
      padding: .3em 2em;
      outline: none;
      border-style: solid none;
      border-radius: 6px;
      background: linear-gradient(#00e600, #008000) #008000;
      transition: 0.2s;
    }

    a.bitbucket:hover { background: linear-gradient(#00cc00, #00b300) #00b300; }
    a.bitbucket:active { background: linear-gradient(#00b300, #1aff1a) #1aff1a; }

#cover-div {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9000;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.7);
      text-align: center;
      padding-top: 7%;
      overflow-y: scroll;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;

}

.close{
    background: #f00;
    color: #FFFFFF;
    font-size: 30px;
    position: absolute;
    right: 13%;
    text-align: center;
    top: 9%;
    width: 40px;
    height: 35px;
    padding-top: 5px;
    text-decoration: none;
    /*font-weight: bold;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #f33;
  cursor: pointer;
}


/***************************END PROJECTS**********************/

/***************************CONTACTS**********************/
#contTab{
	width: 100%;
}
	table#contTab tr{
		border-bottom: #ff3300 dashed 1px;
	}
	
	table#contTab tr td{
		padding: 20px 0;
	}
/***************************END CONTACTS**********************/

footer{
  width: 100%;
  height: 10px;
  padding-top: 30px;
  color: #fff;
  font-size: 14px;
  display: none;
}

    footer p{
      text-align: left;
      padding-left: 70px;
    }
