
<h1>Несколько слов обо мне</h1>
<div class="content">
 Инженер-энергетик с двумя высшими образованиями.<br>
 Самостоятельно обучаюсь HTML-верстке и программированию на JavaScript.<br>
 В будущем хочу стать front-end разработчиком.<br>
 Остальное - в резюме.
</div>
