<h1>Как со мной связаться?</h1>
<div class="content">
  <table id="contTab">
	  <tr>
		<td>тел.</td>
		<td>+38(068)1971948</td>
	  </tr>
	  <tr>
		<td>Skype</td>
		<td>chernova.nataliya</td>
	  </tr>
	  <tr>
		<td>E-mail</td>
		<td>chernova.nataliya@mail.ru</td>
	  </tr>
  </table>
</div>
