
<h1>Мои работы</h1>
<div id ="projectsWrapper">
  <div class="project">
    <img class="projectImage" src="/img/mySite.png" alt="Photo">
    <h3 class="projectName">Сайт-визитка на JavaScript</h3>
    <p class="projectDescription">
		Данный сайт - мой первый проект.<br>
      Он создан без использования сторонних библиотек, на чистом JavaScript.  
     </p>
     <div class="linkWrapper">
       <a class="bitbucket" target="_blank" href="https://bitbucket.org/NatashaElistratova/my-site/src" href="">Посмотреть код</a>
     </div>
     <div class="clear"></div>
  </div>

  <div class="project">
    <img class="projectImage" src="/img/bootstrap.png" alt="Photo">
    <h3 class="projectName">Верстка главной страницы сайта с использованием сетки Bootstrap</h3>
    <p class="projectDescription">
      
     </p>
     <div class="linkWrapper">
       <a class="bitbucket" target="_blank" href="https://bitbucket.org/NatashaElistratova/bootstrap/src/a81b081c972b436ac772be507abcc2cf11897fd2?at=master">
         Посмотреть код</a>
     </div>
     <div class="clear"></div>
  </div>

  <div class="project">
    
    <h3 class="projectName"> Список комментариев на AngularJS</h3>
    <p class="projectDescription">
		Это учебный прект на AngularJS.<br>
      В прцессе его реализации были использованы следующие технологии:<br>
		-ES6<br>
		-AngularJS(версия 1.3)<br>
		-jQuery<br>
		-Bootstrap<br>
		-Font Awesome<br>
		-npm<br>
		-Webpack<br>
		
     </p>
     <div class="linkWrapper">
       <a class="bitbucket" target="_blank" href="https://bitbucket.org/NatashaElistratova/angular_app/src">Посмотреть код</a>
     </div>
     <div class="clear"></div>
  </div>
</div>
